body {
  background: linear-gradient(
    89.2deg,
    rgb(191, 241, 236) 22.3%,
    rgb(109, 192, 236) 84.1%
  );
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
}
p {
}
.search-button {
  background-color: white;
}
footer {
  text-align: center;
  font-weight: lighter;
}
form {
  text-align: center;
  background: white;
  border-radius: 20px;
  max-width: 600px;
  margin: 60px auto;
  margin-top: 10px;
}

.weather-app-icon {
  width: 80px;
  height: 80px;
  background-color: black;
  opacity: 100%;
}
.weather-app {
  background: white;
  text-align: center;
  border-radius: 30px;
  opacity: 60%;
  max-width: 600px;
  margin: 60px auto 60px;
}


